name: Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: test
    uses: ./.github/workflows/test.yaml
  deployment:
    needs: test # testが完了しないとdeployしないようにする的なヤツ
    name: deployment
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: |
          cat /etc/os-release

      